In [10]:
%run init_notebook.py

In [11]:
import wrds
from settings import DATA_DIR, OUTPUT_DIR

import os
import datetime as dt

In [12]:
# # use code to set up pass file
# db = wrds.Connection(wrds_username='lukasg')
# db.create_pgpass_file()
# db.close()

In [13]:
db = wrds.Connection(wrds_username="lukasg")

Loading library list...
Done

In [14]:
# db.raw_sql('SELECT date, dji FROM djones.djdaily')

In [15]:
# # wrds commands
# db.connection()
# db.list_libraries()
# db.list_tables()
# db.get_table()
# db.describe_table()
# db.raw_sql()
# db.close()

In [22]:
db.raw_sql('SELECT date, dji FROM djones.djdaily')

             date       dji
0      1896-05-26     40.94
1      1896-05-27     40.58
2      1896-05-28     40.20
3      1896-05-29     40.63
4      1896-06-01     40.60
...           ...       ...
28068  2008-06-13  12307.35
28069  2008-06-16  12269.08
28070  2008-06-17  12160.30
28071  2008-06-18  12029.06
28072  2008-06-19  12063.09

[28073 rows x 2 columns]

In [23]:
crsp = db.raw_sql('select cusip,permno,date,bidlo,askhi from crsp.dsf LIMIT 100')

In [24]:
crsp

       cusip   permno        date   bidlo   askhi
0   68391610  10000.0  1986-01-07  2.3750  2.7500
1   68391610  10000.0  1986-01-08  2.3750  2.6250
2   68391610  10000.0  1986-01-09  2.3750  2.6250
3   68391610  10000.0  1986-01-10  2.3750  2.6250
4   68391610  10000.0  1986-01-13  2.5000  2.7500
..       ...      ...         ...     ...     ...
95  68391610  10000.0  1986-05-22  3.3750  3.5000
96  68391610  10000.0  1986-05-23  3.3125  3.6250
97  68391610  10000.0  1986-05-27  3.3125  3.6250
98  68391610  10000.0  1986-05-28  3.2500  3.4375
99  68391610  10000.0  1986-05-29  3.0000  3.1250

[100 rows x 5 columns]

In [9]:
db.describe_table(library="crsp", table="crsp_m_stock")

UnboundLocalError: local variable 'schema' referenced before assignment

In [8]:
db.get_table(library="crsp", table="sfz_dind", obs=100)

,kyindno,caldt,tret,tind,aret,aind,iret,iind,usdcnt,usdval,totcnt,totval
0,1000000.0,1925-12-31,NaN,1.463818,NaN,12.173282,NaN,12.028694,NaN,NaN,500.0,2.748749e+07
1,1000000.0,1926-01-02,0.005689,1.472146,0.005689,12.242538,0.000000,12.028694,491.0,2.736676e+07,494.0,2.760030e+07
2,1000000.0,1926-01-04,0.000706,1.473186,0.000706,12.251187,0.000000,12.028694,492.0,2.747972e+07,499.0,2.757789e+07
3,1000000.0,1926-01-05,-0.004821,1.466084,-0.004867,12.191560,0.000046,12.029244,496.0,2.756176e+07,498.0,2.753021e+07
4,1000000.0,1926-01-06,-0.000423,1.465463,-0.000427,12.186355,0.000004,12.029288,497.0,2.752684e+07,502.0,2.761877e+07
...,...,...,...,...,...,...,...,...,...,...,...,...
95,1000000.0,1926-04-26,-0.007177,1.368218,-0.007177,11.224931,0.000000,12.192596,509.0,2.600674e+07,514.0,2.587654e+07
96,1000000.0,1926-04-27,-0.001832,1.365712,-0.001832,11.204370,0.000000,12.192596,511.0,2.586976e+07,514.0,2.586033e+07
97,1000000.0,1926-04-28,0.005124,1.372710,0.005124,11.261786,0.000000,12.192596,512.0,2.568832e+07,515.0,2.584600e+07
98,1000000.0,1926-04-29,0.001573,1.374870,0.001312,11.276560,0.000262,12.195786,510.0,2.580016e+07,516.0,2.592580e+07
99,1000000.0,1926-04-30,-0.002373,1.371608,-0.003158,11.240950,0.000785,12.205360,514.0,2.592135e+07,518.0,2.588674e+07

In [19]:
db.list_tables(library="crsp", tab)

['acti',
 'asia',
 'asib',
 'asic',
 'asio',
 'asix',
 'bmdebt',
 'bmheader',
 'bmpaymts',
 'bmquotes',
 'bmyield',
 'bndprt06',
 'bndprt12',
 'bxcalind',
 'bxdlyind',
 'bxmthind',
 'bxquotes',
 'bxyield',
 'cap',
 'ccm_lookup',
 'ccm_qvards',
 'ccmxpf_linktable',
 'ccmxpf_lnkhist',
 'ccmxpf_lnkrng',
 'ccmxpf_lnkused',
 'comphead',
 'comphist',
 'compmaster',
 'contact_info',
 'crsp_cik_map',
 'crsp_daily_data',
 'crsp_header',
 'crsp_monthly_data',
 'crsp_names',
 'crsp_portno_map',
 'crsp_ziman_daily_index',
 'crsp_ziman_monthly_index',
 'cs20yr',
 'cs5yr',
 'cs90d',
 'cst_hist',
 'daily_nav',
 'daily_nav_ret',
 'daily_returns',
 'dividends',
 'dport1',
 'dport2',
 'dport3',
 'dport4',
 'dport5',
 'dport6',
 'dport7',
 'dport8',
 'dport9',
 'dsbc',
 'dsbo',
 'dse',
 'dse62',
 'dse62delist',
 'dse62dist',
 'dse62exchdates',
 'dse62names',
 'dse62nasdin',
 'dse62shares',
 'dseall',
 'dseall62',
 'dsedelist',
 'dsedist',
 'dseexchdates',
 'dsenames',
 'dsenasdin',
 'dseshares',
 'dsf',
 'dsf62',
 'dsfhdr',
 'dsfhdr62',
 'dsi',
 'dsi62',
 'dsia',
 'dsib',
 'dsic',
 'dsio',
 'dsir',
 'dsix',
 'dsiy',
 'dsp500',
 'dsp500list',
 'dsp500p',
 'dssc',
 'dsso',
 'eod_cap',
 'eod_sector',
 'eod_vg',
 'erdport1',
 'erdport2',
 'erdport3',
 'erdport4',
 'erdport5',
 'erdport6',
 'erdport7',
 'erdport8',
 'erdport9',
 'ermport1',
 'ermport2',
 'ermport3',
 'ermport4',
 'ermport5',
 'fbpri',
 'fbyld',
 'front_load',
 'front_load_det',
 'front_load_grp',
 'fund_fees',
 'fund_flows',
 'fund_hdr',
 'fund_hdr_hist',
 'fund_names',
 'fund_style',
 'fund_summary',
 'fund_summary2',
 'fwdask06',
 'fwdask12',
 'fwdave06',
 'fwdave12',
 'fwdbid06',
 'fwdbid12',
 'hldask06',
 'hldask12',
 'hldave06',
 'hldave12',
 'hldbid06',
 'hldbid12',
 'holdings',
 'holdings_co_info',
 'index_descriptions',
 'index_type_map',
 'mbi',
 'mbmdat',
 'mbmhdr',
 'mbx',
 'mbxid',
 'mcti',
 'mfdbname',
 'mhista',
 'mhistn',
 'mhistq',
 'monthly_nav',
 'monthly_returns',
 'monthly_tna',
 'monthly_tna_ret_nav',
 'mport1',
 'mport2',
 'mport3',
 'mport4',
 'mport5',
 'mse',
 'mse62',
 'mse62delist',
 'mse62dist',
 'mse62exchdates',
 'mse62names',
 'mse62nasdin',
 'mse62shares',
 'mseall',
 'mseall62',
 'msedelist',
 'msedist',
 'mseexchdates',
 'msenames',
 'msenasdin',
 'mseshares',
 'msf',
 'msf62',
 'msfhdr',
 'msfhdr62',
 'msi',
 'msi62',
 'msia',
 'msib',
 'msic',
 'msio',
 'msir',
 'msix',
 'msiy',
 'msp500',
 'msp500list',
 'msp500p',
 'portnomap',
 'priask06',
 'priask12',
 'priave06',
 'priave12',
 'pribid06',
 'pribid12',
 'price_type',
 'property_type',
 'qcti',
 'qsia',
 'qsib',
 'qsic',
 'qsio',
 'qsix',
 'rear_load',
 'rear_load_det',
 'rear_load_grp',
 'rebala',
 'rebaln',
 'rebalq',
 'reit_type',
 'riskfree',
 's6z_agg_ann',
 's6z_agg_mth',
 's6z_agg_qtr',
 's6z_del',
 's6z_dind',
 's6z_dis',
 's6z_dp_dly',
 's6z_ds_dly',
 's6z_hdr',
 's6z_indhdr',
 's6z_mdel',
 's6z_mind',
 's6z_mth',
 's6z_nam',
 's6z_ndi',
 's6z_shr',
 'saz_agg_ann',
 'saz_agg_mth',
 'saz_agg_qtr',
 'saz_del',
 'saz_dind',
 'saz_dis',
 'saz_dp_dly',
 'saz_ds_dly',
 'saz_hdr',
 'saz_indhdr',
 'saz_mdel',
 'saz_mind',
 'saz_mth',
 'saz_nam',
 'saz_ndi',
 'saz_shr',
 'sechead',
 'sechist',
 'sector',
 'sfz_dind',
 'sfz_indhdr',
 'sfz_mbr',
 'sfz_mind',
 'sfz_portd',
 'sfz_portm',
 'sfz_rb',
 'stock_qvards',
 'stocknames',
 'stocknames62',
 'sub_property_type',
 'tfz_dly',
 'tfz_dly_cd',
 'tfz_dly_cpi',
 'tfz_dly_ft',
 'tfz_dly_rf2',
 'tfz_dly_ts2',
 'tfz_idx',
 'tfz_iss',
 'tfz_mast',
 'tfz_mth',
 'tfz_mth_bp',
 'tfz_mth_cd',
 'tfz_mth_cpi',
 'tfz_mth_fb',
 'tfz_mth_ft',
 'tfz_mth_rf',
 'tfz_mth_rf2',
 'tfz_mth_ts',
 'tfz_mth_ts2',
 'tfz_pay',
 'vg',
 'yldask06',
 'yldask12',
 'yldave06',
 'yldave12',
 'yldbid06',
 'yldbid12',
 'ziman_reit_info',
 'zr_hdrnames']

In [13]:
data = db.raw_sql('SELECT * FROM crsp.stocknames')

In [28]:
# closed end mutual funds have sharecode 2 == 4 : https://www.crsp.org/products/documentation/name-history-array-codes
_ = data["shrcd"].apply(lambda x: str(int(x))[1] == "4")

In [29]:
mutual = data[_]

In [30]:
# columns info : https://www.crsp.org/products/documentation/crsp-names-table

# selecting funds active between 90s and 18
_ = mutual[(mutual["namedt"] <= dt.date(day=1, month=1, year=1990))
           &(mutual["nameenddt"] >= dt.date(day=1, month=1, year=2018))]

# p'ermno_list = list(data.permno.apply(lambda x: str(int(x))))

In [31]:
data

,permno,permco,namedt,nameenddt,cusip,ncusip,ticker,comnam,hexcd,exchcd,siccd,shrcd,shrcls,st_date,end_date,namedum
0,10000.0,7952.0,1986-01-07,1987-06-11,68391610,68391610,OMFGA,OPTIMUM MANUFACTURING INC,3.0,3.0,3990.0,10.0,A,1986-01-31,1987-06-30,2.0
1,10001.0,7953.0,1986-01-09,1993-11-21,36720410,39040610,GFGC,GREAT FALLS GAS CO,2.0,3.0,4920.0,11.0,None,1986-01-31,2017-08-31,2.0
2,10001.0,7953.0,1993-11-22,2008-02-04,36720410,29274A10,EWST,ENERGY WEST INC,2.0,3.0,4920.0,11.0,None,1986-01-31,2017-08-31,2.0
3,10001.0,7953.0,2008-02-05,2009-08-03,36720410,29274A20,EWST,ENERGY WEST INC,2.0,3.0,4920.0,11.0,None,1986-01-31,2017-08-31,2.0
4,10001.0,7953.0,2009-08-04,2009-12-17,36720410,29269V10,EGAS,ENERGY INC,2.0,3.0,4920.0,11.0,None,1986-01-31,2017-08-31,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63555,93433.0,53451.0,2013-04-24,2016-12-22,92870X30,92870X30,VLTC,VOLTARI CORP,3.0,3.0,9999.0,11.0,None,2010-06-30,2016-12-30,2.0
63556,93434.0,53427.0,2010-06-14,2020-12-31,78513510,78513510,SANW,S & W SEED CO,3.0,3.0,9999.0,11.0,None,2010-06-30,2020-12-31,2.0
63557,93435.0,53452.0,2010-06-14,2012-05-18,82936G20,82936G20,SCEI,SINO CLEAN ENERGY INC,3.0,3.0,6163.0,11.0,None,2010-06-30,2012-05-31,2.0
63558,93436.0,53453.0,2010-06-29,2017-02-01,88160R10,88160R10,TSLA,TESLA MOTORS INC,3.0,3.0,9999.0,11.0,None,2010-06-30,2020-12-31,2.0
63559,93436.0,53453.0,2017-02-02,2020-12-31,88160R10,88160R10,TSLA,TESLA INC,3.0,3.0,9999.0,11.0,None,2010-06-30,2020-12-31,2.0